.add-product {
    max-width: 500px;
    margin-top: 100px;
    margin-left: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: cursive;
}

h1 {
    color: #333;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.message-p {
    color: #666;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.common-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-input {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
    outline: none;
    border-color: #006769;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

textarea.form-input {
    resize: vertical;
    min-height: 120px;
}

.form-button {
    padding: 12px 24px;
    background-color: #006769;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-button:hover {
    background-color: #064849;
    transform: translateY(-2px);
}

.form-button:active {
    background-color: #006769;
    transform: translateY(0);
}